<table class="table">
    <thead>
    <tr>
        <th scope="col">Full Name</th>
        <th scope="col">role</th>
        <th scope="col">city</th>
    </tr>
    </thead>
    <tbody>

{{#each list}}

    <tr>
        <td>{{this.fullName}}</td>
        <td>{{this.role}}</td>
        <td>{{this.city}}</td>
    </tr>
{{/each}}

    </tbody>
</table>




